ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

.g-modal__list {
  display: flex;
  justify-content: space-between;
}

.g-modal__list-item + .g-modal__list-item {
  margin-left: 20px;
}

.g-modal__list-item > a {
  cursor: pointer;
}

.g-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.g-modal__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.75);
}

.g-modal__item {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 6px #333333;
  transform: translate(-50%, -50%);
}
